<h1>Bonjour, merci de confirmer votre adresse email pour Wild Series !</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Merci beaucoup !
</p>
