{% extends 'base.html.twig' %}

{% block title %}Page de l'acteur {{ actor.name }}{% endblock %}

{% block body %}
        <h1>Acteur : {{ actor.name }}</h1>
        <ul>A joué dans les séries : </ul>
        {% for program in actor.programs %}
            <li><a href="/program/{{ program.id }}">{{ program.title }}</a></li>
        {% endfor %}
{% endblock %}
