// customize some Bootstrap variables
$baseBlack: #000000;
$baseGold: #CFB53B;
$baseBeige: #FEFEE2;
$baseRed: #B30000;

$theme-colors: (
        "baseBlack": $baseBlack,
        "baseGold": $baseGold,
        "baseBeige": $baseBeige,
        "baseRed": $baseRed
);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $baseBlack;
}
.content-div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

// NAVBAR STYLING
.navbar-no-border {

}

.navbar-container {
  border: 1px solid $baseGold;
  display: flex;
  justify-content: center;
  margin: 5px 5px 5px 5px;
}

.navbar {
  width: 99%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 5px 5px 5px 5px;
}

.concept-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

// HTML TAG STYLING
// TITLES STYLING
h1 {
  color: $baseGold;
}

h2 {
  color: $baseGold;
  margin-top: 30px;
}

h3 {
  color: $baseGold;
}

// OTHER TAGS STYLING
p {
  color: $baseBeige;
}

a {
  color: $baseRed;

  &:hover {
    color: $baseBeige;
  }
}

ul {
  color: $baseGold;
  list-style-type: none;
}

li {
  color: $baseBeige;
  list-style-type: none;
}

th {
  color: $baseGold;
}

td {
  color: $baseBeige;

}

table {
  border-color: $baseGold;
}

label {
  color: $baseGold;
}

.italics {
  font-style: italic;
}

// WILD/SHOW/PROGRAM

.program-poster {
  height: 300px;
  width: auto;
}

// CATEGORY/ADD
.col-form-label {
  color: $baseGold;
}