<div class="navbar-no-border">
    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-baseBlack bg-baseBlack border border-baseGold">
            <a class="navbar-brand text-baseGold" href="/">WILD SERIES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-baseGold"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-baseGold" href="{{ path('wild_index') }}">TVSHOWS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-baseGold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ADMIN
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('category_add')}}">Category</a>
                            <a class="dropdown-item" href="{{ path('program_index')}}">Program</a>
                            <a class="dropdown-item" href="{{ path('season_index')}}">Season</a>
                            <a class="dropdown-item" href="{{ path('episode_index')}}">Episode</a>
                            <a class="dropdown-item" href="{{ path('actor_index')}}">Actor</a>
                        </div>
                    </li>
                    {% if app.user %}
                        {{ app.user.email }}
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a class="nav-link text-baseGold" href="{{ path('app_login') }}">SE CONNECTER</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
