<div class="navbar-no-border">
    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-baseBlack bg-baseBlack border border-baseGold">
            <a class="navbar-brand text-baseGold" href="/">WILD SERIES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-baseGold"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-baseGold" href="#">TVSHOWS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-baseGold" href="#">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-baseGold" href="#">SIGN IN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
