<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/f07cb4033a.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include '_navbar.html' %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% for category, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% block body %}

            <div class="content-div">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>
