{% extends "base.html.twig" %}

{% block body %}
    <div>
        <img class="concept-image" src="{{ asset('assets/img/wild_series_poster.png') }}" alt="A poster saying : all your favourite tv-shows in one place">
    </div>
{% endblock %}
