{% extends 'base.html.twig' %}

{% block title %}Mon profil utilisateur{% endblock %}

{% block body %}

    <table class="table table-dark">
        <thead>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th scope="row">Rôle</th>
            <td>
                {% for role in user.roles %}
                    {{ role }}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
